body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #CC5500;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 0px;
    flex: 1; /* Das Main-Element nimmt den verbleibenden Platz ein */
    display: flex; /* Flexbox im Main-Element aktivieren */
    flex-direction: column;
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
  }

  button {
    margin: 10px;
    background-color: #CC5500;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    width: 40%;
    border-radius: 20px; /* Fügt abgerundete Ecken hinzu */
    padding: 7px;
    border: 2px solid #CC5500; /* orangefarbige Umrandung */

}

button:hover {
    background-color: #E28F66;
    border: 2px solid #E28F66; /* orangefarbige Umrandung */

    color: black
}

.form-group {
    display: flex;
    align-items: center; /* Vertikale Zentrierung */
    font-size: 22px;
    width: 40%;
    justify-content: space-between; /* Maximiert den Abstand zwischen label und select */
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    font-size: 22px;
    border-radius: 16px; /* Fügt abgerundete Ecken hinzu */
    padding: 5px;
    width: 100%;
    border-color: #CC5500;
    accent-color: #CC5500;
}

p {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* For centering the text inside */
    height: fit-content;
    margin-top: 5px;
    margin-bottom: 0px;
}

h2{
    color: #CC5500;
    font-size: 32px;

}

/* Media Query für Bildschirmgrößen unter 600px */
@media (max-width: 700px) {
    .form-group {
        width: 75%; /* Breite auf 75% setzen, wenn der Bildschirm schmaler als 600px ist */
    }

    button {
        width: 75%; /* Breite auf 75% setzen, wenn der Bildschirm schmaler als 600px ist */

    }
}




